<!DOCTYPE HTML>

<html>

<head>
    <title>zThundy's Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/notification.css" />
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="css/dropdown.css" />
    <link rel="stylesheet" href="css/input.css" />
    <script src="https://kit.fontawesome.com/2656c82e02.js" crossorigin="anonymous"></script>
</head>

<body class="preload">
    <div id="background-hider">
        <div class="dashboard-header">
            <span class="dashboard-username">Welcome <%= account.username %></span>
        </div>
        <div class="dashboard-container">
            <div class="dashboard-content-header">
                <button class="lines-button lines"><span></span></button>
            </div>

            <div class="dashboard-content-body">
                <% if (account.confirmed == 1) { %>
                    <span class="dashboard-content-title">Licenses</span>
                    <% account.licenses.forEach((license, i) => { %>
                        <form id="dashboard-liceses-form" action="/dashboard/change_license:<%= i %>" method="post">
                            <input value="<%= license.ip %>" type="text" name="ip_<%= i %>">
                            <input value="<%= license.license %>" type="text" name="licenza_<%= i %>" disabled>
                            
                            <button class="dashboard-form-button-accept">
                                <span>Submit request</span>
                            </button>
                        </form>
                    <% }) %>
                    <form id="dashboard-liceses-form" action="/dashboard/regen_license" method="post">
                        <button class="dashboard-form-button-accept">
                            <span>Regenerate license</span>
                        </button>
                    </form>
                <% } %>
            <div>
        </div>

        <%- include('partial/notification'); %>
    </div>
    
    <%- include('partial/sidebar'); %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/dashboard.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(() => {
                $("body").removeClass("preload");
            });
    
            $("#notification-button").click(() => {
                console.log("button has been clicked")
                $.ajax({
                    type: 'GET',
                    url: '/dashboard/button_press/:licenses',
                    success: function(data) {
                        $('.notification-container').css("display", data.display);  
                    }
                });
            });
        });
    </script>
</body>

</html>